body{
    width: 100%;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family:Arial, Helvetica, sans-serif;
}
:root{
    --bg-color: #861835;
}
.clear{
    clear: both;
}
.header{
    height: 80px;
    position: relative;
}
.hbar{
    display: flex;
    justify-content: center;
    
}
.logo{
    background:url(../img/logo/spl-1.png) no-repeat center right;
}
.hbar{
    background-color:  var(--bg-color);
    width: 100%;
    height: 80px;   
    position: fixed ;
    top: 0;
    z-index: 100;
}
.hbar img{
    width: 104px;  
    height: 47px;
    margin: 15px 20px 15px 0;
}
.hbar-row{
    width: 680px;
    height: 30px;
    margin:25px 0;

}
.mnbar >li {
    float: left;
}
.mnbar li a:hover{
    color: red;
}
.mnbar li a{
    text-decoration: none;
    color: #F1EEE5;
    font-size: 20px;
    padding: 0 16px;
    font-weight: 600;
    line-height: 35px;
}
.mnbar {
    list-style-type: none;
    
}
.mnbar li:hover .more {
    display: block;
}
.more{
    display: none;
    list-style-type: none;
    position: absolute;
    top: 60px;
    background-color: #F1EEE5;
    width: 180px;
    height: 80px;
    padding: 10px 0;
    line-height: 30px;
}

.more li a{
    font-size: 16px;
    font-weight: bold;
    color: var(--bg-color);
}

.clx{
    height: 30px;
}
.container{
    max-width: 1050px;
    margin: 0 auto;
    height: auto;
    background-color: #fff ;
}
.row{
    
}
.col-main{
    width: 700px;
    height: auto;
    padding: 0 15px;
    float: left;
}
.col-main .col-head{
    text-align: center;
    
}
.col-cap{
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--bg-color);
}
.col-br{
    background: url(../img/container/logo.svg) center  no-repeat;
    height: 10px;

}

.col-news li{
    border-top: 1px solid #eaeaea;
}
.wc-news{
    list-style-type: none;
    
}
.news{
    height: 110px;
    padding: 10px 0;
   
}
.news img{
    width: 160px;
    height: 90px;
}
.thumb{
    float: left;
    margin-right: 20px;
}
.news h2{
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0 10px;
}
.time{
    color: #ae9183;
    font-size: 14px;
    opacity: 0.5;
}
.time p{
    font-size: 15px;
    color: #861835;
}
.news a{
    text-decoration: none;
    color: #000;
    
}
.title:hover{
    color: red;
}
.seemore{
   text-align: center;
    
}
.seemore a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #Aaaaaa;
    text-transform: uppercase;
}
.seemore a:hover{
    color: red;
}
.news-list{
    margin: -10px;
    
}
.news-ul{
    list-style-type: none;
    
}
.news-ul>li{
    float: left;
}
.news-li-first{
    width: 520px;
    height: 530px;
    padding: 10px;
}
.news-li-first img{
    width: 100%;
}
.news-li-first h1{
    font-size: 24px;
    font-weight: bold 400;
    padding: 10px 0;
    line-height: 1.4;
    text-align: justify;
}
.news-li-first>a{
    text-decoration: none;
    color: #000;
}
.news-li-first >a:hover{
    color: #12c8cb;
}
.news-li-first>p{
    font-size: 16px;
    color: #89888B;
    line-height: 1.4;
    padding: 10px 0;
    text-align: justify;
}
.news-li{
    height: 265px;
    width: 25%;
    padding:10px;
}
.news-li h2{
    color: #000;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold 600;
}
.news-li>a{
    text-decoration: none;
}
.news-li h2:hover{
    color: red;
}
/* Fixture Table slide */
.fix-row{
    border: none;
    min-height: 80px;
}
.fix-tab a:hover{
    color: red;
}
.fix-tab a{
    text-decoration: none;
    color: #626165;
    font-weight: bold;
    font-size: 14px;
    padding: 0 5px;
    margin: 0;
}
.fix-slider{
    margin-top: 5px;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
    border-radius: 5px;
}
.fix-time{
    list-style: none;
    
}
.fix-time a{
    text-decoration: none;
    color: #000;
}
.fix-time li{
    float: left;
    padding: 8px;
    width: 205px;
    
}
.fix-time span{
    color: #89888B;
    font-size: 12px;
}
.fix-time span:hover{
    color: red;
}
.fix-time p{
    padding: 5px 0;
    font-size: 12px;
    font-weight: bold;

}
.flag.bra{
    background: url(../img/container/flag/brazil.png) center no-repeat;
    background-size: auto 100%;
}
.flag{
    height: 0.8rem;
    width: 1.2em; 
    margin: 0 5px;
    display: inline-block;
    box-shadow: 0 0 3px rgb( 0, 0, 0,0.3);
}

.flag.cro{
    background: url(../img/container/flag/croatia.png)center no-repeat;
    background-size: auto 100%;
}
.flag.arg{
    background: url(../img/container/flag/argentina.png)center no-repeat;
    background-size: auto 100%;
}
.flag.hal{
    background: url(../img/container/flag/halan.png)center no-repeat;
    background-size: auto 100%;
}
.flag.bdn{
    background: url(../img/container/flag/bodaonha.png)center no-repeat;
    background-size: auto 100%;
}
.flag.mor{
    background: url(../img/container/flag/morocco.png)center no-repeat;
    background-size: auto 100%;
}
.flag.fra{
    background: url(../img/container/flag/phap.png)center no-repeat;
    background-size: auto 100%;
}
.flag.eng{
    background: url(../img/container/flag/anh.png)center no-repeat;
    background-size: auto 100%;
}
.flag.sel{
    background: url(../img/container/flag/senegal.png)center no-repeat;
    background-size: auto 130%;
}
.flag.ecu{
    background: url(../img/container/flag/ecuador.png)center no-repeat;
    background-size: auto 130%;

}
.flag.qat{
    background: url(../img/container/flag/qatar.png)center no-repeat;
    background-size: auto 100%;
}
.flag.usa{
    background: url(../img/container/flag/my.png)center no-repeat;
    background-size: auto 130%;
}
.flag.ira{
    background: url(../img/container/flag/iran.png)center no-repeat;
    background-size: auto 130%;
}
.flag.wal{
    background: url(../img/container/flag/xuwales.png)center no-repeat;
    background-size: auto 130%;
}
.flag.bal{
    background: url(../img/container/flag/balan.png)center no-repeat;
    background-size: auto 130%;
}
.flag.mex{
    background: url(../img/container/flag/mexico.png)center no-repeat;
    background-size: auto 130%;
}
.flag.sau{
    background: url(../img/container/flag/saudiarabia.png)center no-repeat;
    background-size: auto 130%;
}
.flag.aus{
    background: url(../img/container/flag/uc.png)center no-repeat;
    background-size: auto 130%;
}
.flag.tun{
    background: url(../img/container/flag/tunisia.png)center no-repeat;
    background-size: auto 130%;
}
.flag.dan{
    background: url(../img/container/flag/danmach.png)center no-repeat;
    background-size: auto 130%;
}
.flag.jap{
    background: url(../img/container/flag/nhatban.png)center no-repeat;
    background-size: auto 130%;
}
.flag.spa{
    background: url(../img/container/flag/taybannha.png)center no-repeat;
    background-size: auto 130%;
}
.flag.ger{
    background: url(../img/container/flag/duc.png)center no-repeat;
    background-size: auto 130%;
}
.flag.cos{
    background: url(../img/container/flag/costarica.png)center no-repeat;
    background-size: auto 130%;
}
.flag.bel{
    background: url(../img/container/flag/bi.png)center no-repeat;
    background-size: auto 130%;
}
.flag.can{
    background: url(../img/container/flag/canada.png)center no-repeat;
    background-size: auto 130%;
}
.flag.swi{
    background: url(../img/container/flag/thuysi.png)center no-repeat;
    background-size: auto 130%;
}
.flag.cam{
    background: url(../img/container/flag/cameroon.png)center no-repeat;
    background-size: auto 130%;
}
.flag.ser{
    background: url(../img/container/flag/serbia.png)center no-repeat;
    background-size: auto 130%;
}
.flag.kor{
    background: url(../img/container/flag/hanquoc.png)center no-repeat;
    background-size: auto 130%;
}
.flag.uru{
    background: url(../img/container/flag/uruguay.png)center no-repeat;
    background-size: auto 130%;
}
.flag.gha{
    background: url(../img/container/flag/ghana.png )center no-repeat;
    background-size: auto 130%;
}
.fix-matches{

}
.col-right{
    width: 320px;
    float: left;
    position: relative;
}
 .wc-fixture{
    padding: 0 0 15px;
    background-color: #F1EEE5;
    border-left: 20px solid #F1EEE5;
    border-right: 20px solid #F1EEE5;
    border-radius:15px;
}
.wc-tab{
    background-color: #861835;
    height: 48px;
    background-image: url(../img/logo/tải\ xuống.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 160%;
    text-align: center;   
    border-radius: 15px;
}
.wc-tab a:hover{
    color: red;
}
.wc-tab a{
    display: block;
    width: 50%;
    float: left;
    text-decoration: none;
    color: #F1EEE5;
    font-size: 17px; 
    font-weight: 700;
    text-transform: uppercase;
    line-height: 48px;
    opacity: 0.5;
}
.wc-tab a.activ{
    opacity: 1;
}

.hide{
    display:none;
}

.float{
    float: left;
    padding: 0 5px;

}
.frow, .float{
    background:#fff;
    line-height: 42px;
    height: 42px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    display: block;
}
.wc-matches .frow{
    font-size: 16px;
    font-weight: 600;
}
.frow{
    margin: 5px 0;
}
.wc-matches{
    width: auto;
    margin: 0 -5px;
}
.col-team{
    text-align: left;
    width: 38%;
}
.col-team-r{
    text-align: right;
    width: 38%;
}
.col-time{
    width: 24%;
    border-bottom: 1px solid #000;
}
.col-time a:hover{
    color: red;
}
.col-time a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(8, 104, 8);
}
.svg-footer{
    fill:red;
    height: 24px;
    width: auto;
    display: block;
    margin: 10px auto;
}
.wc-rank{
    padding: 0 0 15px;
    background-color: #F1EEE5;
    border-left: 20px solid #F1EEE5;
    border-right: 20px solid #F1EEE5;
    border-radius: 15px;
}
.wc-fix .fix-cap{
    color: #7e2239;
    font-size: 9px;
    font-weight: 600;
    line-height: 24px;
    height: 24px;
    text-align: center;
    text-transform: uppercase;
}
.wc-rank .fix-cap, .wc-rank .frow{
    height: 42px;
    line-height: 42px;
    margin: 5px 0;
}
.wc-fix{
    width: auto;

}
.wc-fix .indx,
.wc-fix .exp,
.wc-fix .ga,
.wc-fix .point{
    font-weight: bold;
    width: 12%;
}
.wc-fix .flag{
    margin: 0;
}
.wc-rank .point{
    color: red;
}
.wc-fix .frow{
    font-size: 16px;
    font-weight: 600;
}
.wc-rank .team{
    text-align: left;
    width: 52%;
}
.wc-rank{
    height: auto;
}
.wc-rank .wc-tab {
    background-image: none;  
}
.wc-rank .wc-tab:hover{
    background-color: red;
}

.wc-rank .wc-tab a{
    width: 100%;
    opacity: 1;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.a-h{
    list-style-type: none;
    padding:10px 0;
    height: 36px;
}
.a-h span{
    float: left;
    display: block;
    text-align: center;
    width: 12%;
    color: red;
    font-weight: bold;
    text-decoration: none;

}

.a-h .activ span{
    background-color: #7e2239;
    border-radius: 50%;
}

.wc-fix .next-round{
    border-left: 3px solid rgb(65, 193, 65);
}
/* stadium css */
.sta-title{
    text-align: left;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}
.sta-title svg{
    position: absolute;
    top: -10px;
    right: 10px;
    height: 25px;
    fill: #7e2239;
}
.stadium-row{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
.stadium-slide{
   display: flex;
   justify-content: center;
   width: auto;
}
.sta-slider{
    width: 25%;
    height: auto;
    margin-right: 20px;
    border: 2px solid #eaeaea;
    cursor: pointer;
    position: relative;
}
.sta-slider .img{
    overflow: hidden;
    height: auto;
}
.sta-slider img{
    width:100%;
    height: 280px;
}
.sta-slider .h2{
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    padding-bottom: 35px;
}
.stadium-slide .sliler-hv{
    text-align: center;
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 35px;

}
.smail-p{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #bbb;
}
.stadium-slide .sliler-hv h2{
    font-size: 17px;
    font-weight: 900;
}
.stadium-slide .sliler-hv .bt{ 
    background-color: #fff;
    border: 1px solid #eaeaea;
    width: 140px;
    height: 25px;
    padding: 8px 32px;
    border-radius: 25px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight:600;
    color: #000;
}
.stadium-slide .sta-slider:hover .sliler-hv,
.stadium-slide .sliler-hv h2:hover
{
    display: block;
    
    
}
.stadium-slide .sta-slider:hover{
    box-shadow:-6px 6px 20px rgba(0, 0, 0, 0.2);
    color: #861835;
}
.stadium-slide .sta-slider:hover img{
    transform: scale(1.2);
}

.stadium-slide .swiper-button-next>i
,.stadium-slide .swiper-button-prev>i{
    color: #000;
    font-size: 20px;
    font-weight:900;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 12px;
}
.stadium-slide .swiper-button-next
,.stadium-slide .swiper-button-prev{
    display:none ;
    border: 1px;
    width: 46px;
    height: 46px;
    border-radius: 9999px;
    

}
.stadium-slide .swiper-button-next::after
,.stadium-slide .swiper-button-prev::after{
    content: "";
}
.stadium-slide .swiper-pagination-bullet{
    width: 26px;
    height: 7px;
    border-radius: 25px;
    background: #861835;
}
.stadium-slide:hover .swiper-button-next,
.stadium-slide:hover .swiper-button-prev {
    box-shadow:  0px 5px 6px #0000001a;
    display: block;
}
/* end stadium css */
/* stadium show */
.open{
    display: none;
}
.sta-show{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.2);
    z-index: 1000;
    overflow-y: auto;
}
.sta-show-container-,
.sta-container-info img,
.sta-container-matches{
    border-radius: 0.75em;
}
.sta-show-container{
    min-width: 932px;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    max-height: 80%;
    
   
}
.sta-show-container-{
    padding: 40px; 
    background-color: #fff;
    display: flex;
}
.sta-container-info{
    width: 55%;
    margin-right: 32px;
}
.sta-container-info img{
    width: 100%;
    height: auto;
}
.sta-container-info-title h1{
    font-size: 36px;
    font-weight: 800;
}
.sta-container-info-title{
    display: flex;
}
.sta-container-info-title svg{
    fill: #7e2239;
    margin-left: 120px;
    margin-top: 15px;
}
.sta-container-info .smail-p{
    margin-bottom: 5px;
}
.sta-container-text{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 500;
}
.sta-container-text>br{
    margin-top: 25px;
}
.sta-container-p{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
}
.sta-container-p span{
    margin-right: 15px;
    border-bottom: 4px solid #7e2239;
}
.sta-show-close{
    position: absolute;
    top: 13px;
    right: 14px;
    background-color: #fff;
    width: 48px;
    height: 48px;
    border-radius: 9999px;
    text-align: center;
    line-height: 55px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.sta-show-close i{
    font-size: 18px;
    font-weight: bold;
}
.sta-container-matches a{
    text-decoration: none;
}
.sta-container-matches{
    width: 344px;
    box-shadow: 0 1px 3px rgb( 0, 0, 0,0.3);
}
.sta-show-matches:hover,
.sta-show-matches:hover .frow,
.sta-show-matches:hover .frow .float{
    background: #fff9e5;
    cursor: pointer;
}
.team-lose{
    opacity: 0.6;
}
.sta-show-matches .frow{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.sta-show-matches{
    padding: 15px 4px 10px;
    text-align: center;
    border-bottom: 1px solid rgb( 0, 0, 0,0.2);
}
.sta-show-matches .frow .col-time{
    color: #000;
    border: 1px solid rgb( 0, 0, 0,0.1);
    width: 70px;
    height: 24px;
    line-height: 24px;
    border-radius: 9999px;
    background-color: #f4f6fa;
    margin: 0 5px;
}
.sta-container-matches .col-team{
    text-align: right;
}
.sta-container-matches .col-team-r{
    text-align: left;
}
.sta-show-matches .frow span{
    height: 21px;
    width: 28px;

}
.sta-matches-time{
    font-size: 13px;
    color: rgba(0,0,0,.6);
    font-weight: 600;
    margin-bottom: 5px;
}
.sta-matches-time span{
    margin-top: 13px;
    display: flex;
    justify-content: center;
    font-size: 11px;
}
.sta-show-matches-title{
    text-align: center;
    
    font-size: 15px;
    font-weight: 700;
    color: #861835;
}
.sta-show-matches-title h3{
    border-bottom: 2px solid #7e2239;
    padding: 16px 0;
}

/* end stashow */
/* Video WC */
.qatar-video{
    background-color: #26012e ;
    height: 500px;
}
.q-video{
    background: url(../img/logo/bg1.png)top 0 left 5% no-repeat ;
    background-size: auto 180px;
    padding: 30px 0;
    height: 100%;
}
.vd-title{
    width: 100%;
    text-align: center;
    
}
.vd-title a{
    font-size: 48px;
    color: #F1EEE5;
    width: 103%;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.vd-title a:hover{
    color: red;
}
.vd-title svg{
    fill: #12c8cb;
    width: 240px;
    margin: auto;
    display:block;
}
.vd-container{
    max-width: 1020px;
    min-height: 320px;
    margin: auto;
}
.qatar-slide{
   height:auto;
   overflow: hidden;
   z-index: 1;  
}
.vd-slide{  
    width: 10000px;
    
}
.vd-slide .video{
    width: 350px;
    padding: 10px 0;  
    float: left;  
}
.video img{
    height: auto;
    width: 100%;
}
.video a{
    text-decoration: none;
    color: #fff;
    width: 330px;
    display: block;
}
.video a:hover{
    color: red;
}
.video h3{
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}
.video .time{
    font-size: 10px;
    opacity: 0.8;
}

/* end video */
.footer{
    height: 570px; 
    background: #550065;
}
.footer-img{
    height: 500px;
    background: url(../img/logo/Hihgights-Page-All-Versions-New-banner.webp) no-repeat;
    background-size: auto 80%;
    background-position: right 0 top 70px;
}
.width-ft{
    width: 1050px;
    margin: auto; 
}
.footer-head{
    height: 56px;
    display: flex;
    align-items: center;
}
.footer-logo{
    width: 240px;
    padding: 0 12px;
}
.footer-social{
    padding: 0 12px;
    width: 350px;
    text-align: center;
}
.footer-social a{
    margin:0 24px 0 16px;
}
.text-ft{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
}
.footer-title{
    margin-left: 50px;
}
.footer-body{
    width: 500px;
    float: left;
    margin-left: 150px;
    margin-top: 150px;
    text-align: left;
}
.footer-body h1{
    font-size: 30px;
     font-weight: 500;
     font-weight: bold;
     padding-bottom: 15px;
     letter-spacing: 0.5;
}
.footer-body p{ 
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.6px;

}